@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h4>ThreeM</h4>

<address>
    Michał Makowej<br />   
    Krakow, Poland<br />
    <abbr title="Phone">P:</abbr>
    667-778-883
</address>

<address>
    <strong>E-mail:</strong> <a href="michal@makowej.pl">michal@makowej.pl</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/katanisk8">https://github.com/katanisk8</a><br />
    <strong>Linkedin:</strong> <a href="https://pl.linkedin.com/in/micha%C5%82-makowej-653105101">https://linkedin.com</a>
</address>
