@using CalcWin.Views.AdminSettings

<ul class="nav nav-pills nav-stacked">
    <li class="@AdminSettingsNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">General</a></li>
    <li class="@AdminSettingsNavPages.DefaultDataNavClass(ViewContext)"><a asp-action="DefaultData">Default Data</a></li>
</ul>
