body {
    padding-top: 50px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle;
    padding: 2px;
}

td.td-fruits {
    width: 65%;
}

.btn-group.bton-group-flavors {
    margin: 0px;
    display: flex;
}

.btn.btn-flavor {
    width: 25%;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 12px;
    align-content: center;
}

.well.well-result {
    background-color: white;
    margin: 5px;
    padding: 5px;
}

.well.well-projects {
    background-color: white;
    margin: 10px;
}

.content.content-calculator {
    margin: 10px;
}

.footer {
    position: absolute;
    width: 100%;
    height: 50px;
}

.form-buttons {
    margin-top: 5px;
}

.project-open {
    height: 100%;
    width: 50%;
    margin: auto;
}

.well-result.projects {
    width: 50%;
    margin: auto;
}

.logo {
    vertical-align: middle;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    text-align: center;
}

.navbar-brand {
    padding: 0px;
}

    .navbar-brand > img {
        height: 100%;
        width: auto;
    }


.social-btn-holder{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.social-btn-holder .btn-social {
    font-size: 12px;
    font-weight: bold;
}

.btn-social {
    color: white;
    opacity: 0.9;
}

    .btn-social:hover {
        color: white;
        opacity: 1;
    }

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #00aced;
}

.btn-linkedin {
    background-color: #0e76a8;
}

.btn-github {
    background-color: #000000;
}

.btn-google {
    background-color: #c32f10;
}

.btn-stackoverflow {
    background-color: #D38B28;
}

.btn-hackerrank {
    background-color: #27AB5B;
}

.btn-soundcloud {
    background-color: #FF7202;
}

.centered-text {
    text-align: center;
}

.panel-default.panel-contact{
    margin-top: 20px;
}

#loginbox{
    margin-top: 100px;
}


#bg {
    background: url('../images/bgimg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.table.table-project-edit {
    margin-top: 5px;
}

.input-project-edit{
    margin-bottom: 1px;
    margin-top: 1px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.hbtn {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding: 8px 20px;
    margin: 0px 3px 6px;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    text-decoration: none;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    z-index: 0;
}


    .hbtn i {
        padding-right: 8px;
    }


.hb-border-bottom-br4 {
    position: relative;
    transition-duration: 0.3s;
    overflow: visible;
    box-sizing: border-box;
    border: none;
    padding: 10px 22px;
}


    .hb-border-bottom-br4::after {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        border: 2px solid rgb(255, 255, 255);
        z-index: 2;
        margin: 0px;
        left: 0px;
        bottom: 0px;
        border-top-width: 2px;
        transition: border-top-width 0.1s 0.2s, height 0.2s 0.1s, width 0.2s 0s, margin 0.2s 0s, border-bottom-width 0.2s 0s;
    }


    .hb-border-bottom-br4:hover::after {
        width: 60%;
        height: 0px;
        border-width: 0px 2px 4px;
        margin: 0px 20%;
        transition: border-top-width 0.1s 0s, height 0.2s 0.1s, width 0.2s 0.2s, margin 0.2s 0.2s, border-bottom-width 0.2s 0.2s;
    }  